{% load static %}
<!doctype html>
<html class="no-js" lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Restaurante</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'administracion/img/favicon.ico' %}">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'administracion/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'administracion/css/owl.transitions.css' %}">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/animate.css' %}">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/normalize.css' %}">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/meanmenu.min.css' %}">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/main.css' %}">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/educate-custon-icon.css' %}">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/morrisjs/morris.css' %}">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/metisMenu/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'administracion/css/metisMenu/metisMenu-vertical.css' %}">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/calendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'administracion/css/calendar/fullcalendar.print.min.css' %}">
     <!-- touchspin CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/touchspin/jquery.bootstrap-touchspin.min.css' %}">
      <!-- datapicker CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/datapicker/datepicker3.css' %}">
    <!-- modals CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/modals.css' %}">
    <!-- select2 CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/select2/select2.min.css' %}">
    <!-- chosen CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/chosen/bootstrap-chosen.css' %}">
    <!-- ionRangeSlider CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/ionRangeSlider/ion.rangeSlider.css' %}">
    <link rel="stylesheet" href="{% static 'administracion/css/ionRangeSlider/ion.rangeSlider.skinFlat.css' %}">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/form/all-type-forms.css' %}">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/style.css' %}">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'administracion/css/responsive.css' %}">
    <!-- modernizr JS
        ============================================ -->
    <script src="{% static 'administracion/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>
 {% block content %}
                    {% endblock %}

    <!-- jquery
        ============================================ -->
    <script src="{% static 'administracion/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'administracion/js/bootstrap.min.js' %}"></script>
    <!-- wow JS
        ============================================ -->
    <script src="{% static 'administracion/js/wow.min.js' %}"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="{% static 'administracion/js/jquery-price-slider.js' %}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{% static 'administracion/js/jquery.meanmenu.js' %}"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="{% static 'administracion/js/owl.carousel.min.js' %}"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="{% static 'administracion/js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="{% static 'administracion/js/jquery.scrollUp.min.js' %}"></script>
     <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{% static 'administracion/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'administracion/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="{% static 'administracion/js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'administracion/js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'administracion/js/counterup/counterup-active.js' %}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{% static 'administracion/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'administracion/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="{% static 'administracion/js/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'administracion/js/metisMenu/metisMenu-active.js' %}"></script>
    <!-- tab JS
        ============================================ -->
    <script src="{% static 'administracion/js/tab.js' %}"></script>
    <!-- icheck JS
        ============================================ -->
    <script src="{% static 'administracion/js/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'administracion/js/icheck/icheck-active.js' %}"></script>
    <!-- colorpicker JS
        ============================================ -->
    <script src="{% static 'administracion/js/colorpicker/jquery.spectrum.min.js' %}"></script>
    <script src="{% static 'administracion/js/colorpicker/color-picker-active.js' %}"></script>
    <!-- datapicker JS
        ============================================ -->
    <script src="{% static 'administracion/js/datapicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'administracion/js/datapicker/datepicker-active.js' %}"></script>
    <!-- input-mask JS
        ============================================ -->
    <script src="{% static 'administracion/js/input-mask/jasny-bootstrap.min.js' %}"></script>
    <!-- chosen JS
        ============================================ -->
    <script src="{% static 'administracion/js/chosen/chosen.jquery.js' %}"></script>
    <script src="{% static 'administracion/js/chosen/chosen-active.js' %}"></script>
    <!-- select2 JS
        ============================================ -->
    <script src="{% static 'administracion/js/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'administracion/js/select2/select2-active.js' %}"></script>
    <!-- ionRangeSlider JS
        ============================================ -->
    <script src="{% static 'administracion/js/ionRangeSlider/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'administracion/js/ionRangeSlider/ion.rangeSlider.active.js' %}"></script>
    <!-- rangle-slider JS
        ============================================ -->
    <script src="{% static 'administracion/js/rangle-slider/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script src="{% static 'administracion/js/rangle-slider/jquery-ui-touch-punch.min.js' %}"></script>
    <script src="{% static 'administracion/js/rangle-slider/rangle-active.js' %}"></script>
    <!-- knob JS
        ============================================ -->
    <script src="{% static 'administracion/js/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'administracion/js/knob/knob-active.js' %}"></script>
    <!-- tab JS
        ============================================ -->
    <script src="{% static 'administracion/js/tab.js' %}"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="{% static 'administracion/js/morrisjs/raphael-min.js' %}"></script>
    <script src="{% static 'administracion/js/morrisjs/morris.js' %}"></script>
    <script src="{% static 'administracion/js/morrisjs/morris-active.js' %}"></script>
    <!-- morrisjs JS
        ============================================ -->
    <script src="{% static 'administracion/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'administracion/js/sparkline/jquery.charts-sparkline.js' %}"></script>
    <script src="{% static 'administracion/js/sparkline/sparkline-active.js' %}"></script>
    <!-- calendar JS
        ============================================ -->
    <script src="{% static 'administracion/js/calendar/moment.min.js' %}"></script>
    <script src="{% static 'administracion/js/calendar/fullcalendar.min.js' %}"></script>
    <script src="{% static 'administracion/js/calendar/fullcalendar-active.js' %}"></script>
  
    <!-- data table JS
        ============================================ -->
    <script src="{% static 'administracion/js/data-table/bootstrap-table.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/tableExport.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/data-table-active.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-table-editable.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-editable.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-table-resizable.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/colResizable-1.5.source.js' %}"></script>
    <script src="{% static 'administracion/js/data-table/bootstrap-table-export.js' %}"></script>
    <!--  editable JS
        ============================================ -->
    <script src="{% static 'administracion/js/editable/jquery.mockjax.js' %}"></script>
    <script src="{% static 'administracion/js/editable/mock-active.js' %}"></script>
    <script src="{% static 'administracion/js/editable/select2.js' %}"></script>
    <script src="{% static 'administracion/js/editable/moment.min.js' %}"></script>
    <script src="{% static 'administracion/js/editable/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'administracion/js/editable/bootstrap-editable.js' %}"></script>
    <script src="{% static 'administracion/js/editable/xediable-active.js' %}"></script>
    <!-- Chart JS
        ============================================ -->
    <script src="{% static 'administracion/js/chart/jquery.peity.min.js' %}"></script>
    <script src="{% static 'administracion/js/peity/peity-active.js' %}"></script>
    <!-- tab JS
        ============================================ -->
    <script src="{% static 'administracion/js/tab.js' %}"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="{% static 'administracion/js/plugins.js' %}"></script>
    <!-- main JS
        ============================================ -->
    <script src="{% static 'administracion/js/main.js' %}"></script>
    <!-- tawk chat JS
        ============================================ -->
    <script src="{% static 'administracion/js/tawk-chat.js' %}"></script>


</body>

</html>
